@import 'modules/mixin';
@import 'modules/variables';
@import 'modules/header';
@import 'modules/hover-img';
@import 'modules/footer';
@import 'modules/swiper';
// .main-visual {
//     background-image: url(../img/Rectangle15.png);
//     height: 700px;
//     background-position: center center;
//     background-size: cover;
//     position: relative;
//     .top-text {
//         position: absolute;
//         bottom: 0%;
//         right: 15%;
//         color: $cWhite;
//         font-size: 120px;
//         @include sp {
//             font-size: 60px;
//             right: 5%;
//         }
//     }
// }
.wrapper {
    display: flex;
}
// サイドバー
.side {
    font-size: 24px;
    width: 100%;
    height: 100%;
    width: 20%;
    text-align: left;
    position: sticky;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 100px;

    @include tab {
        display: none;
    }

    .side-item {
        padding: 0 0 36px;

        &:last-child {
            padding-bottom: 0;
        }

        &::after {
            content: '+';
            margin-left: 28px;
        }
    }
}
// サイドバー

main {
    // サイドバー
    max-width: 100%;
}
.section01 {
    border-bottom: $Border;
    padding: 100px 0 80px;
    @include tab {
        max-width: 100%;
    }
}
.items {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);


    .big-img {
        grid-column: 1 /3;
        grid-row: 2 / 5;
        padding: 75px 53px;
        @include sp {
            padding: 0;
        }

        .section-title {
            margin: 20px auto;
            padding-bottom: 20px;
            display: block;
            text-align: center;
            border-bottom: $Border;
            a {
                &::after {
                        content: '+';
                        margin-left: 28px;
                }
            }
        }
    }
    .item {
        &:nth-child(5) {
            margin-top: 15px;
        }
        &:nth-child(6) {
            margin-top: 15px;
        }
        &:nth-child(7) {
            margin-top: 15px;
        }
        &:nth-child(5) {
            margin-top: 15px;
            @include tab {
                margin: 0;
            }
        }
        &:nth-child(6) {
            margin-top: 15px;
            @include tab {
                margin: 0;
            }
        }
        &:nth-child(7) {
            margin-top: 15px;
            @include tab {
                margin: 0;
            }
        }
    }
}
.works {
    &-title {
        @extend .section-title;
        text-align: center;
        padding: 40px 0 36px;
    }
    &-items {
        @extend .items;
        gap: 30px;
        @include tab {
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        }
        @include sp {
            gap: 10px;
        }
    }
    &-item {
        img {
            @include tab {
                width: 100%;
            }
        }
    }
    &-text {
        padding: 16px 0 4px;
        font-size: 16px;
    }
}
.view {
    @extend .section01;
    .section-title {
        text-align: center;
        border-bottom: $Border;
        padding-bottom: 50px;
        &::after {
                        content: '+';
                        margin-left: 28px;
                }
    }
    &-items {
        @extend .items;
        padding-top: 80px;
        @include sp {
            padding-top: 40px;
        }

        .big-img {
            grid-column: 2 / 4;
            grid-row: 1 / 4;

            @include sp {
                padding: 0;
            }
        }
    }
    .works-item {
        display: block;
        overflow: hidden;
        &:nth-child(1) {
            padding-bottom: 40px;
            @include sp {
                padding: 0;
            }
        }
        &:nth-child(2) {
            padding-bottom: 40px;
            @include sp {
                padding: 0;
            }
        }
        &:nth-child(3) {
            padding-bottom: 40px;
            @include sp {
                padding: 0;
            }
        }
        &:nth-child(4) {
            padding-bottom: 40px;
            @include sp {
                padding: 0;
            }
        }
    }
}
.news {
    border-bottom: $Border;
    width: 95%;
    .section-title {
        margin: 40px 0 36px;
        @include sp {
            margin: 20px 0;
        }
    }
    .sub-title-link {
        text-align: right;
        .sub-title  {
            margin-right: auto;
            padding: 88px 0 40px;

            @include sp {
                text-align: right;
            }
            &::after {
                        content: '+';
                        margin-left: 28px;
                }
        }
    }
    dl {
        display: flex;
        border-bottom: 1px solid rgba(51, 51, 51, 0.2);
        margin-bottom: 16px;
        @include tab {
            flex-direction: column;
        }
        &:nth-child(4) {
            border-bottom: none;
        }
        dt {
            padding-right: 15%;
            padding-bottom: 16px;
        }
        dd {
            @include tab {
                margin-bottom: 16px;
            }
        }
    }
}
